@media(max-width:400px){
    html{
        font-size: 50%;
    }
    .banner.content h3{
        font-size: 3rem;
    }

    .products .slide img{
        height: 15rem;
    }
    
    .list{
            line-height: 4rem;
        }

    
    .container{
        margin-left: 10rem;
        .content{
            margin-top: 10rem;

            img{
                width: 20rem;
                height: 15rem;
                margin-top: -43rem;
            }
        }
       
    }

    .contact{
        .heading{
            font-size: 4rem !important;
            margin-right: 4rem;
            margin-top: -10rem;
        }
    }
    .contact-location, .contact-info{
       
        .ml-h3{
            margin-left: 13rem ;
        }
        .ml-table{
            margin-left: 5rem !important ;
        }
        .ml-list{
            margin-left: 10rem ;
        }
        .ml-map{
            // margin-left: 0 !important;
        }
    }
    .back-to-top {
        right: 5rem ;
    }
}